# Prevention .gitignore to avoid uploading not corresponding files

## Python 
__pycache__/

## Workflow files
*.xlsx
*.xls
*.xlsm
*.txt

# Excepto los ejemplos
!examples/demo/*.xlsx
!examples/demo/*.xls

## Build garbage (just in case)
*.tmp
*.log
.env
.vscode/
.idea/
dist/
build/
